/* Try different box model properties below */
body{
  background-color:bisque;
}
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}
.countries .country{
  background-color: #fff;
  padding: 0.5rem;
  margin: 0.2rem;
  list-style: none;
  width: 25%;
}
